# .NET
/backend/**/bin/
/backend/**/obj/
/backend/.vs/

# Angular
/frontEnd/node_modules/
/frontEnd/dist/
/frontEnd/.angular/

# Database and secrets
*.db
*.db-shm
*.db-wal
firebase-service-account.json